body{
    font-family: 'Raleway', sans-serif;
}
*{
   padding: 10;
   margin: 0; 
}
li{
     list-style: none;
     display: flex;
}
a{
    text-decoration: none;
}
header{
    background: #f6f6f6 ;
    padding: 22px 0;
}
.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color:#000000;
    font-size:  16px;
    font-weight: bolder;
    margin-right: 63px;
    padding: 27px 6px ;
}
.header-container a:hover{
    background:#ffffff;
}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;
}
nav{
    margin-top: 20px;
}
.top-slide{
    background: url(img/slider_bg.jpg)no-repeat ;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 280px;
}
.top-container{
    width: 90%;
    margin: 0 auto;
}
.top-slide h2{
    background: #ffffff;
    display: inline;
    font-size: 70px;
    padding: 0  13px;
}
.top-slide :nth-child(2){
    margin-bottom: 10px;
}
.top-slide p{
    background: #5e5e5e;
    display: inline;
    font-size: 24px;
    padding: 0 4px;
    color: #fff;
}
.specialize-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.specialize-container h3{
    font-size: 35px;
}
.specialize-containwer p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
}
.fiSrst-p{
    font-size: 20px;
    color: rgb(40, 32, 32);
    
}
.bottom-card{
    background: #a0a0a0 ;
    position: relative;
    top: -30px;
}
.specialize-cards{
    display: flex;
    justify-content: space-between;    
}
.portfolio{
    width: 90%;
    margin:  0 auto;
    text-align: center;
}
.portfolio h4{
    background: #868686;
    padding:  0 4px;
    font-size: 18px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 30px;
}
.portfolio p{
    color: #494949;
    font-size: 16px;

}
.toggles button{
    border: none;
    color: #363636;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    margin-top: 25px 5px;
}
.toggles button:after{
    content: ' / ';
}
.toggles button:last-child:after{
    content: ' / ';
}
.posts{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto ;
}

body{
    height: 4000px;
}

.brend-slider{
    width: 90%;
    margin:  0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.brend-slider h4{
    margin-top: 40px;
    background: #595959;
    padding:  0 8px;
    font-size: 18px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 30px;
}
.brend-slider p{
    color: #464444;
    font-size: 16px;
    margin-bottom: 30px;
}

footer{
    background:#2e2e2e;
    padding: 30px 0;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: auto;

}
.footer-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 30% 20%;
    grid-column-gap: 3% ;
    
}
footer h4{
    font-size: 18px;
}
footer h4{
    bottom: #ffffff;
    padding: 30px 0;
    color:rgb(255, 255, 255);
    display:  grid;
    grid-template-columns: auto auto auto;
}
.footer-container .about-us a{
    background: rgb(137, 136, 142);
    color: rgb(255, 255, 255);
    font-size: 15px ;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid ffea00;
}

.about-us a{
    background: #000;
    color:rgb(228, 228, 228);
    font-size: 15px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #007bfe;
    display: inline-block;
}
.images{
    margin-top: 10px;
}
.tweets p{
    margin-top: 20px ;
}
.contacts{
    margin-top: 10px;
}
.contacts p{
    margin-top: 20px ;
}
.nav a:hover {
    border-bottom: 5px solid rgb(246, 246, 246);
    margin-top: 30px ;
    font-size: 20px;
    margin-left: 10px;
}
.nav a:hover{
    color: rgb(255, 255, 255);
    
}



/*Функция меню*/
@media screen and (max-width:420px){
    .header-container{
        width: 100%;
        display: flex;
        justify-content:  space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width:100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color:#000000;
    }
    .toggle-button:after{
        content:attr(data-open);
        display: block;   
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{ 
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:before{ 
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu{
        position: relative;
        top: 30px;
        right: 115px;
    }
    .top-slide {
        padding-top: 40px;
        padding-bottom: 400px;
    }
    .top-slide h2 {
        font-size: 32px;
    }
    .top-slide p{
        font-size: 16px;
    }
    .specialize-container p{
        font-size: 16px;
    }
    .specialize-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .bottom-card{
        width: 250px;
        margin: 0 auto; 
    }
    .posts{
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto;
    }
}